<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Video Rental Store</title>

    <!--<link rel="stylesheet" href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>-->
    <link href="/webjars/materializecss/0.97.0/css/materialize.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>


</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">VIDEO RENTAL STORE</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">ADD RENT</a></li>
            <li><a href="/movies.html">Movies</a></li>
            <li><a href="/customers.html">Customers</a></li>
            <li><a href="/history">Rental History</a></li>
        </ul>
    </div>
</nav>



<section layout:fragment="content">
    <p>page content</p>
</section>
<script src="/webjars/jquery/2.1.4/jquery.js"></script>
<script src="/webjars/materializecss/0.97.0/js/materialize.js"></script>
<!--<script src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
<th:block layout:fragment="scripts"></th:block>
</body>
</html>
