<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator = "layout/default">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container" layout:fragment="content">
<div class="row">
    <h2 class="indigo-text center" th:text="|Movies list:|">Movies</h2>
    <ul class="collection">
        <li class="collection-item movie row" th:each="movie : ${moviesList}">
            <div class="col s12">
                <span style="font-weight: bold" class="title" th:text="${movie.title}">Movie Title</span>
            </div>
            <div class="col s3">
                <span class="sub-title" th:text="${'Release year: '.concat(movie.releaseYear)}">Genre</span>
            </div>
            <div class="col s3">
                <span class="sub-title" th:text="${'Genre: '.concat(movie.genre.name)}">Genre</span>
            </div>
            <div class="col s3">
                <span class="sub-title" th:text="${'Director: '.concat(movie.director)}">Director</span>
            </div>
            <div class="col s3">
                <span class="sub-title" th:text="${'Language: '.concat(movie.language)}">Language</span>
            </div>
        </li>

    </ul>

    <form method="get" th:action="@{/movie}">
        <div class="row s12">
            <button id="addFab" class="btn-floating btn-large waves-effect waves-light red" type="submit" name="save"><i
                    class="material-icons">add</i></button>
        </div>
    </form>

</div>


</div>


</body>
</html>