<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <h2 class="indigo-text center" th:text="|Rental history:|">Rental list</h2>
        <ul class="collection">
            <li class="collection-item row" th:each="rental : ${rental_list}">
                <div class="column s12">
                <span style="font-weight: bold"
                      th:text="${'Return date: '.concat(rental.returnDate!=null ?
                 rental.returnDate.year.toString().concat('-').concat(rental.returnDate.month).concat('-').concat(rental.returnDate.getDayOfMonth())
                 : 'ACTUALLY RENTED'
                 )}">
                    Return Date
                </span>
                    <span
                            th:text="${
                      'Rent date: '.concat(rental.rentDate.year).concat('-').concat(rental.rentDate.month).concat('-').concat(rental.rentDate.getDayOfMonth())
                      }">
                    Rent date
                </span>
                </div>
                <div class="column s8">
                    <span th:text="${'Movie: '}">Movie</span>
                    <span th:text="${
                rental.movie.title.concat(' (').concat(rental.movie.releaseYear).concat(') ').concat(rental.movie.director)
                }">Movie</span>
                </div>
                <div class="column s8">
                    <span th:text="${'Customer: '}">Customer</span>
                    <span th:text="${rental.customer.name}">Name</span>
                    <span th:text="${rental.customer.surname}">Surname</span>
                    <span th:text="${rental.customer.email}">Email</span>
                </div>
                <div class="column s4" th:if="${rental.returnDate==null}">
                    <form th:method="put" th:action="@{/return}">
                        <input type="hidden" name="id" th:value="${rental.id}"/>
                        <button class="waves-effect waves-light btn" type="submit"><i
                                class="material-icons left">replay</i>Mark as returned
                        </button>
                    </form>
                </div>
            </li>
        </ul>

        <div th:if="${rental_list.isEmpty()}">
            <h4 th:text="|There is currently no history. Let's rent any movie!|">EmptyList</h4>
        </div>

        <form method="get" th:action="@{/}">
            <div class = "row s12">
                <button id="addFab" class="btn-floating btn-large waves-effect waves-light red" type="submit" name="save"><i class="material-icons">add</i></button>
            </div>
        </form>

    </div>
</div>

</body>
</html>